.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.logo {
  flex: 0 1 auto;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin-block: 8px;
  border-radius: 16px;
  box-sizing: border-box;
  border: 3px solid tomato;
}


ul {
  /* this removes the dots on the list items*/
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 8px;
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  border-radius: 4px;
  /* this removes the line under the links */
  text-decoration: none;
}
